*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 100%;
    background-color: lightcyan;
}
header {
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}