*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 100%;
    background-color: lightcyan;
}
header{
    justify-content: space-between;
    font-weight: bolder;
    display: flex;
}
body{
text-align: center;
font-family: 'Courier New', Courier, monospace;
margin: 0;
}
#timer{
    color: midnightblue;
    float: right;
}

#score{
    color:midnightblue;
    float: left;
}